body{
    font-size: 12pt;
    Font-family: Arial, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

.cabecalho-menu{
    background-color: #03675c;
    height:100px;
    margin: 0;
    font-family: "Bradley Hand ITC";
    position: relative;
}

.cabecalho-menu h1 {
    text-align: center;
    color: white;
    margin: 0;
    padding: 20px;
}

nav#menu-principal{
    background-color: #ff9933;
    margin: 0;
    height: auto;

}
nav#menu-principal ul {
    display: flex;
    margin: 0;
    padding: 0;
}



nav#menu-principal li {
    list-style: none;
    margin-left: 12.5%;
    padding: 10px;

}

nav#menu-principal a {
    text-decoration: none;
    color: white;
    font-size: 15pt;
    position: relative;
    display: block;

}

nav#menu-principal a:hover{
    color: #4d9200;
}
footer {
    background-color:#03675c ;
    height: 50px;
    width: 100%;
    clear: both;
    position: absolute;
    bottom: 0;
}

.toggle{
    text-decoration: none;
    color: white;
    display: block;
    position: absolute;
    cursor: pointer;
}

@media (max-width: 992px) {
    nav#menu-principal{
        padding: 0 0;
        background-color: #4d9200;
    }

    nav#menu-principal ul {
        width: 100%;
        top:0;
        display: none;
    }

    #menu-principal ul.active{
        display: block;
    }



    nav#menu-principal ul li a{
        margin: 0;
        display: block;
        text-align: center;

    }



}